<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h3>Enter the Animal Features Below</h3> </br>

      <form method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">
            Type:
          </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Type"
              placeholder="Type"
            >
              <option value="DOG">Dog</option>
              <option value="CAT">Cat</option>
              <option value="OTHER">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">
            Sex:
          </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Sex"
              placeholder="Sex"
            >
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Spayed">Spayed</option>
              <option value="Neutered">Neutered</option>
              <option value="Unknown">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">
            Size:
          </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Size"
              placeholder="Size"
            >
              <option value="TOY">Toy</option>
              <option value="SMALL">Small</option>
              <option value="MED">Medium</option>
              <option value="LARGE">Large</option>
              <option value="X-LRG">X-Large</option>
              <option value="KITTN">Kitten</option>
              <option value="PUPPY">Puppy</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm"> Intake Type: </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Intake Type"
              placeholder="Intake Type"
            >
              <option value="QUARANTINE">Quarantine</option>
              <option value="STRAY">Stray</option>
              <option value="OWNER SURRENDER">Surrender</option>
              <option value="CONFISCATE">Confiscate</option>
              <option value="ADOPTION RETURN">Adoption Return</option>
              <option value="TRANSFER">Transfer</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm"> Intake Jurisdiction: </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Intake Jurisdiction"
              placeholder="Intake Jurisdiction"
            >
              <option value="SANTA ROSA">Santa Rosa</option>
              <option value="WINDSOR">Windsor</option>
              <option value="COUNTY">County</option>
              <option value="OUT OF COUNTY">Out of County</option>
              <option value="UNKNOWN">Unknown</option>
              <option value="*SONOMA">Sonoma</option>
              <option value="*ROHNERT PARK">Rohnert Park</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm"> Breed: </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Breed"
              placeholder="Breed"
            >
              <option value="DOMESTIC SH">Domestic Short Hair</option>
              <option value="PIT BULL">Pit Bull</option>
              <option value="CHIHUAHUA">Chihuahua</option>
              <option value="OTHER">Other</option>
              <option value="GERM SHEPHERD">German Shepherd</option>
              <option value="LABRADOR RETR">Labrador Retriever</option>
              <option value="DOMESTIC MH">Domestic Medium Hair</option>
              <option value="DOMESTIC LH">Domestic Long Hair</option>
              <option value="PARSON RUSS TER">Parson Russel Terrier</option>
              <option value="RABBIT">Rabbit</option>
              <option value="SIBERIAN HUSKY">Siberian Husky</option>
              <option value="BORDER COLLIE">Border Collie</option>
              <option value="CHICKEN">Chicken</option>
              <option value="POODLE">Poodle</option>
              <option value="ROTTWEILER">Rottweiler</option>
              <option value="AUST CATTLE DOG">Australian Cattle Dog</option>
              <option value="BULLDOG">Bulldog</option>
              <option value="AUST SHEPHERD">Australian Shepherd</option>
              <option value="BAT">Bat</option>
              <option value="GOAT">Goat</option>
              <option value="LOP">Lop</option>
              <option value="SHEEP">Sheep</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm"> Color: </label>
          <div class="col-sm-6">
            <select
              class="form-control form-control-sm"
              name="Color"
              placeholder="Color"
            >
              <option value="BLACK">Black</option>
              <option value="BROWN">Brown</option>
              <option value="WHITE">White</option>
              <option value="GRAY">Gray</option>
              <option value="ORANGE">Orange</option>
              <option value="YELLOW">Yellow</option>
              <option value="BLUE">Blue</option>
              <option value="RED">Red</option>
              <option value="TRICOLOR">Tricolor</option>
              <option value="TAN">Tan</option>
              <option value="OTHER">Other</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
