<h3>Enter the Animal Features Below</h3>

<form method="POST">
    Type: <select name="Type">
          <option value="DOG">Dog</option>
          <option value="CAT">Cat</option>
          <option value="OTHER">Other</option>
          </select><br>
    Sex: <select name="Sex">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Spayed">Spayed</option>
          <option value="Neutered">Neutered</option>
          <option value="Unknown">Unknown</option>
          </select><br>
    Size: <select name="Size">
          <option value="TOY">Toy</option>
          <option value="SMALL">Small</option>
          <option value="MED">Medium</option>
          <option value="LARGE">Large</option>
          <option value="X-LRG">X-Large</option>
          <option value="KITTN">Kitten</option>
          <option value="PUPPY">Puppy</option>
          </select><br>
    Intake Type: <select name="Intake Type">
          <option value="QUARANTINE">Quarantine</option>
          <option value="STRAY">Stray</option>
          <option value="OWNER SURRENDER">Surrender</option>
          <option value="CONFISCATE">Confiscate</option>
          <option value="ADOPTION RETURN">Adoption Return</option>
          <option value="TRANSFER">Transfer</option>
          </select><br>
    Intake Jurisdiction: <select name="Intake Jurisdiction">
          <option value="SANTA ROSA">Santa Rosa</option>
          <option value="WINDSOR">Windsor</option>
          <option value="COUNTY">County</option>
          <option value="OUT OF COUNTY">Out of County</option>
          <option value="UNKNOWN">Unknown</option>
          <option value="*SONOMA">Sonoma</option>
          <option value="*ROHNERT PARK">Rohnert Park</option>
          </select><br>
    Breed: <select name="Breed">
          <option value="DOMESTIC SH">Domestic Short Hair</option>
          <option value="PIT BULL">Pit Bull</option>
          <option value="CHIHUAHUA">Chihuahua</option>
          <option value="OTHER">Other</option>
          <option value="GERM SHEPHERD">German Shepherd</option>
          <option value="LABRADOR RETR">Labrador Retriever</option>
          <option value="DOMESTIC MH">Domestic Medium Hair</option>
          <option value="DOMESTIC LH">Domestic Long Hair</option>
          <option value="PARSON RUSS TER">Parson Russel Terrier</option>
          <option value="RABBIT">Rabbit</option>
          <option value="SIBERIAN HUSKY">Siberian Husky</option>
          <option value="BORDER COLLIE">Border Collie</option>
          <option value="CHICKEN">Chicken</option>
          <option value="POODLE">Poodle</option>
          <option value="ROTTWEILER">Rottweiler</option>
          <option value="AUST CATTLE DOG">Australian Cattle Dog</option>
          <option value="BULLDOG">Bulldog</option>
          <option value="AUST SHEPHERD">Australian Shepherd</option>
          <option value="BAT">Bat</option>
          <option value="GOAT">Goat</option>
          <option value="LOP">Lop</option>
          <option value="SHEEP">Sheep</option>
          </select><br>
    Color: <select name="Color">
          <option value="BLACK">Black</option>
          <option value="BROWN">Brown</option>
          <option value="WHITE">White</option>
          <option value="GRAY">Gray</option>
          <option value="ORANGE">Orange</option>
          <option value="YELLOW">Yellow</option>
          <option value="BLUE">Blue</option>
          <option value="RED">Red</option>
          <option value="TRICOLOR">Tricolor</option>
          <option value="TAN">Tan</option>
          <option value="OTHER">Other</option>
          </select><br>
    <input type="submit" value="Submit"><br>
</form>