<!-- <h3>Hello there.</h3> -->

<form method="POST">
    <table>
        <tbody>
            <tr>
                <th style="color: 'red'">Name</th>
                <td><input type="text" name="name"><br></td>
            </tr>
            <!-- <tr>
                <th>First Name</th>
                <td><input type="text" name="name"><br></td>
            </tr>
            <tr>
                    <th>Age</th>
                    <td><input type="text" name="name"><br></td>
                </tr>
                 -->
        </tbody>
    </table>
    <input type="submit" value="Submit"><br>
</form>